@{
    ViewBag.Title = "Edit";
}
@model Acme.Portal.Web.Models.Home.HomeEditViewModel

    <h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.Id)
    @Html.TextBoxFor(x=>x.Name)
    <input type="submit" value="Save or update"/>
}
<br/>
<a href="/Home/Index">Home</a>