@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Hello bob
<a href="/Home/Edit/1">Edit #1</a>
<a href="/Home/Edit/2">Edit #2</a>
<a href="/Home/Edit/3">Edit #3</a>
<a href="/Home/Edit/4">Edit #4</a>
<a href="/Home/Edit/5">Edit #5</a>
