@{
    ViewBag.Title = "Index";
}
@model Acme.Portal.Web.Models.Home.HomeIndexViewModel

<h2>Index</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table border="1" cellpadding="6">
        @for (int i = 0; i < Model.Npis.Count; i++)
        {
            <tr>
                <td>
                    <a href="/Home/Edit/@Model.Npis[i].Id">@Model.Npis[i].Name</a>
                </td>
            </tr>
        }
    </table>
}
